<div class="view2">
  <div id="contleft">

    <div clock-directive>[ Clock here. ]</div>

    <div class="mapcontainer" id="mapsvg">
        <img ng-src=""/>
        <h2>[ MAP WILL GO HERE ]</h2>
    </div>


  </div>

  <div id="contright">

    <h1>Actual Quiz View</h1>
    <h5>{{ gimme }}</h5>

    <div class="titlecontainer">
        <!-- <h3 class="geoquizheader">GeoQuiz</h3> -->
        <h3 class="worldregion">[ NAME OF REGION HERE ]</h3>
    </div>

    <div id="questionNumber" class="view2right">
        <h4> Question: {{ quiznum }} &frasl; {{ totalLength }}</h4>
    </div>

    <div class="answerbox" class="view2right">
        <div class="fieldandhint">
            <input type="text" class="answerinput" placeholder="Type answer & click Submit." ng-model="studentAnswer">
            <p class="hint">Hint: {{ hint }}</p>
        </div>
        <div  class="click">
            <h4 class="submitbutton" ng-click="checkAnswer(studentAnswer)">SUBMIT QUESTION.</h4>
            <h4 class="nextbutton" ng-click="next()">NEXT QUESTION.</h4>
        </div>
    </div>

    <div id="correctAnswers" class="view2right">
        <h4> {{ correctAnswers }} CORRECT ANSWERS.</h4>
    </div>


        <div id="exitQuiz" class="click" class="view2right">
          <h3 class="view2right" ng-click="exitQuiz()">EXIT QUIZ</h3>
          <a class="view2right" href="#/view3/"  id="confirmexit">Confirm Exit</a>
        </div>


  </div>

</div>
